@font-face {
  font-family: sunsetBeach;
  src: url(fonts/sunset-beach.ttf);
}

* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
  min-height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Background*/

body {
	background: url(images/backgroundimg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*General */
.main-container{
   display:flex;
}

/*Nav*/

a{
  list-style: none;
}

.top-nav{
  background-color: #333;
  width:100%;
  height:45px;
  display: flex;
}


span{
  margin:0 auto;
  font-size:28px;
  background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.top-nav-ul{
  flex-direction: column;
  list-style: none;
  display:flex;
  width:100%;
}

.top-nav-ul li {
  color:#fff;
  font-size: 18px;
  text-shadow: 2px 2px 4px #000;
  background-color: #333;
  z-index:0;
}


/*Header*/

.title-header{
  margin:0 auto;
  text-align: center;
  font-size:44px;
}



.header-title{
  font-family: sunsetBeach;
  text-align:center;
  font-size: 62px;
  color:#fff;
  border: 5px solid #333;
  margin:10px;
  padding:5px;
  background-clip: content-box;
  text-shadow: 8px 4px 0 rgb(0, 0, 0, 0.5);
}

/*Title Section*/

.title-section{
  padding-bottom:4% !important;
}


/*FLEXBOX*/

.flex-box{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-content: space-around;
  justify-content: space-around;
}

/*Featured*/

.featured-blog{
  width:50vw;
  height:50vh;
  background-color: #fff;
  box-shadow: 2px 2px 6px #aaa;
  flex-grow: 2;
  margin: 5% 10% auto 10%;
}

.blog-title{
  padding-left:10px;
  text-align: left;
  font-size:32px;
  background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aside-date{
  position:relative;
  top:-100px;
  left:11px;
  display:inline;
  float:right;
  box-shadow:1px 1px 10px  #000;
  background-color: #333;
  border: 5px solid #eee;
  padding:5px;
  background-clip: content-box;
}

.date-text{
  font-weight: bold;
  font-size:12px;
  padding:2px;
  color:#333;
  background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.clipped{
  margin-bottom: 20px;
  /*top/left, bottom/left, middle-bottom, INSET(right-left, top-bottom) top/left, top/right, bottom/right, bottom/left, middle/bottom(should be the same as the other bottom/middle), bottom/right, top/left*/
  clip-path:  polygon(0% 0%, 0% 130%, 1% 100%, 1% 25%, 100% 25%, 100% 30%, 2% 30%, 2% 100%, 100% 100%, 130% -50%);
} 

.featured-paragraph{
  padding:30px;
  background-color: #fff;
  margin-top: -22px;
  margin-bottom: -85px;
  margin-left:10px;
}




/*Aside Bar*/
.blog-list-aside{
  background-color: #333f;
  width:100%;
  float:right;
  margin-top:35px;
  padding:1px;
}

.blog-list-aside h2{
  text-align:center;
  background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-list-aside ul{
  display:none;
  justify-content: space-around;
  flex-wrap:wrap;
}

.blog-list-aside li{
  color:#fff;
  padding-right:4%;
  flex-grow: 1
}

.blog-list-aside li:hover{
  background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Float ads*/


.float-left,
.float-right{
  padding:5px;
  flex: 1 0 40vw;
}

.float-right{
  margin-bottom: 65px;
}
/*clip-art for frame work in logo-ads*/
.section-move{
  border: 45px solid #333;
  background-color: #fff;
  padding:25px;
  background-clip: content-box;
}



.inline-block{
  display:flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.logo-div{
  background-color: #fff;
}

.title-logo{
  position:relative;
  top:55px;
  text-align:center;
  background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*footers*/
footer{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-content: space-around;
  align-self: center;
  background-color: #aaa;
  width: 100%;
}

/*Social Media Icons*/

.social-logo{
  display:flex;
  flex-direction:row;
  margin-left:-25px;
}

.social-logo li{
  list-style: none;
  padding-right:2%;
}

li .icon{
  max-width:35px;
  max-height:32px;
}

/*Middle Footer Section*/

.about-site .title{
  font-size:30px;
  font-family:"sunsetbeach";
    background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-site li{
  list-style: none;
}

/*Sub Nav Section*/

.sub-nav-ul li{
  list-style: none;
  text-align:center;
}

.sub-nav-ul .selected{
  background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-nav-ul li:hover{
  background:url(images/backgroundimg.jpg) no-repeat center center fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*MEDIA QUERIES*/


/*Tablet*/

@media screen and (min-width:700px){
  .inline-block{
    flex-direction: row;
  }

  /*nav*/

  .top-nav-ul{
    flex-direction: row;
    justify-content: space-around;
  }
}


/*Desktop*/

@media screen and (min-width:1100px){
  .float-left,
  .float-right{
    padding:3.5%;
  }

  .top-nav span {
    display: none;
  }

  .top-nav-ul{
    display:flex;
  }

  .top-nav-ul{
    justify-content: space-between;
    flex-direction: row;
  }
}




